$bigTitleFontSize: 3rem;
$smallTitleFontSize : 1.5rem;
$textColor: white;
$primaryColor: rgb(210, 10, 50);
$hoverColor: rgb(207, 73, 100);

@mixin platform-logo{
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 10px;
}

.platformplaystation{
  @include platform-logo;
  background-image: url('../assets/images/logos/ps4.svg'); 
}
.platformxbox{
  @include platform-logo;
  background-image: url('../assets/images/logos/xbox.svg');
}
.platformpc{
  @include platform-logo;
  background-image: url('../assets/images/logos/windows.svg');
}
.platformlinux{
  @include platform-logo;
  background-image: url('../assets/images/logos/linux.svg');
}
.platformmac{
  @include platform-logo;
  background-image: url('../assets/images/logos/apple.svg');
}
.platformandroid{
  @include platform-logo;
  background-image: url('../assets/images/logos/android.svg');
}
.platformnintendo{
  @include platform-logo;
  background-image: url('../assets/images/logos/switch.svg');
}

body{
  background-color: rgb(19, 19, 19);
  color: $textColor;
}

.container{
  width:80vw;
  margin: 0 auto;
}

.redTitle{
  text-decoration: none;
  color: $primaryColor;
  font-size: $bigTitleFontSize;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* navbar */
header{
  display:flex;
  justify-content: space-between;
}

h1{
  font-size: $bigTitleFontSize;
  color: $textColor;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


form{
  align-self: center;  
}

/* searching */
.searchBox{
  width: 20rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;

  &:focus-within {
    border-color: $hoverColor;
  }
}
.searchIcon{
  @include platform-logo;
  background-image: url('../assets/images/logos/search.svg'); 
}
#search{
  height: 1.5rem;
  width: 90%;
  // flex: auto;
  border: none;
  align-self: center;
  color: $textColor;
  background-color: rgb(19, 19, 19);
  &:focus {
    outline: none;
  }
}
/* submit */
.submitBox{
  display: none;
}

/* game card styles */
#pageContent{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.articles{
  // display:flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}
.cardGame{
  // flex: 20rem;
  background-color: rgb(35, 35, 35);
  width: 20rem;
  height: 23rem;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // margin: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  
  .moreInfo {
    display: none;
  }

  &:hover {
    transform: scale(1.05);
    position:relative;
    height: auto;
    .moreInfo {
      display: block;
    }
  }
}
.poster{
  height: 15rem;
  width: auto;
  object-fit: cover;
}
.no_image{
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/no_image.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
img{
  width: 100%;
  height: 100%;
}
.cardBody{
  margin: 1rem;
}
.smallTitle{
  font-size: $smallTitleFontSize;
  color: $textColor;
  text-decoration: none;
  &:hover{
    color: grey;
  }
}
.platform{
  display:flex;
}
.moreInfo{
  padding: 0;
}
.moreInfoContent{
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}



/* Show more button */
.showMoreBox{
  display: flex;
  justify-content: center;
}
#showMore{
  background-color: $primaryColor;
  color: $textColor;
  display: none;
  font-size: $smallTitleFontSize;
  padding: 0.5rem 2rem;
  &:hover{
    background-color: $hoverColor;
    cursor: pointer;
  }
}




/*details page*/
.webSite {
  display: inline-block;
  padding: 10px 20px;
  color: $textColor;
  background-color: $primaryColor;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: -4rem;
  left: 1rem;
  &:hover{
    background-color: $hoverColor;
  }
}
.titleAndNote{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.notes{
  display: flex;
  color: $primaryColor;
  font-weight: bold;
}
.dateDevPlatformPublisher{
  display: flex;
  justify-content: space-between;
}
.genreTags{
  display: flex;
  justify-content: space-between;
}
.page-detail a, .page-detail a:visited {
	text-decoration: none;
	position: relative;
	color: $textColor;
	
	&:after {
		content: '';
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: $primaryColor;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
	
	&.block {
		display: block;
		padding: 0.5em;
		
		&:hover {
			background: $textColor;
		}
	}
}
.storeBody a{
  text-decoration: underline;
  text-decoration-color: $primaryColor;
}
.littleTitle{
  font-weight: bold;
}